@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #363353;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    /*background-color: #E5E5E5;*/
    background-color: rgb(19, 19, 19);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}